ACCESS_KEY=XXXXXXXXXXXXXXXXXXXX
SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXX
BUCKET=XXXXXXXXXXXXXXXXXXXX
REGION=XXXXXXXXXXXXXXXXXXXX
TASK_DEFINITION=XXXXXXXXXXXXXXXXXXXX
CLUSTER=XXXXXXXXXXXXXXXXXXXX
CONTAINER_NAME=XXXXXXXXXXXXXXXXXXXX
SECURITY_GROUP=XXXXXXXXXXXXXXXXXXXX
SUBNET_1=XXXXXXXXXXXXXXXXXXXX
SUBNET_2=XXXXXXXXXXXXXXXXXXXX
SUBNET_3=XXXXXXXXXXXXXXXXXXXX

#environment variable for container
AWS_KEY=XXXXXXXXXXXXXXXXXXXX
OAUTH_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXXXX
OAUTH_REFRESH_TOKEN=XXXXXXXXXXXXXXXXXXXX
OAUTH_SCOPE=XXXXXXXXXXXXXXXXXXXX
OAUTH_TOKEN_TYPE=XXXXXXXXXXXXXXXXXXXX
OAUTH_EXPIRY_DATE=XXXXXXXXXXXXXXXXXXXX
